<h1>Omnicalc Params</h1>

  <table>
     <tr>
     <th>Part I Targets</th>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/square/"> Flexible Square Example </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/square_root/"> Flexible Square Root Example </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/payment/new"> Flexible Payment Example </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/flexible/random/"> Flexible Random Example </a></td>
    </tr>
    
    <tr>
     <th>Part II Targets</th>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/square/new"> Square Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/square_root/new"> Square Root Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/payment/new"> Payment Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/random/new"> Random Number Form </a></td>
    </tr>
    
    <tr>
     <th>Part III Targets</th>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/word_count/new"> Word Count Form </a></td>
     <td><a href = "https://omnicalc-params-emklick.c9users.io/descriptive_stats/new"> Stats Form </a></td>
    </tr>


    
    
        <tr>
      <th>
        
        <h2>Word Count Results</h1>

    <dl>
        <dt>Text</dt>
        <dd><%= @text %></dd>
        
        <dt>Word Count</dt>
        <dd><%= @word_count %></dd>
        
        <dt>Character Count (with spaces)</dt>
        <dd><%= @character_count_with_spaces %></dd>
        
        <dt>Character Count (without spaces)</dt>
        <dd><%= @character_count_without_spaces %></dd>
        
        <dt>Occurances of <%= @special_word %></dt>
        <dd><%= @occurrences %></dd>
        
    </dl>


    
    <a href = "https://omnicalc-params-emklick.c9users.io/word_count/new"> Process more text</a>
      
      </th>
    </tr>
    </table>